/* You can add global styles to this file, and also import other style files */
/* ! Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* ! Cairo font */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

/* ! Global variables */
:root{
    /* colors */
    --primary-color: #C9A44C;
    --secondary-color: #0077B6;
    --background-color: #F7F4EF;

    /* text colors */
    --text-primary: #44403c;
    --text-main: #333333;
    --text-muted: #666666;

    /* font family */
    --heading-font: "Poppins", "sans-serif";
    --body-font: "Cairo", "sans-serif";
}

/* global style */
a{
    color: inherit;
    text-decoration: none;
}
ul{
    padding-left: 0;
    list-style-type: none;
}
body{
    background-color: #f7f4ef;
    font-family: var(--body-font);
}
h1, h2, h3, h4, h5, h6{
    font-family: var(--heading-font);
}

/* utilities */
.heading{
    font-family: var(--heading-font);
}
.primary-color{
    color: var(--primary-color);
}
.secondary-color{
    color: var(--secondary-color);
}
.main-heading{
    color: var(--secondary-color);
    font-size: 48px;
    font-family: var(--heading-font);
    font-weight: bold;
    text-align: center;
}
/* main-btn */
.main-btn{
  font-family: var(--heading-font);
  background-color: var(--secondary-color);
  color: #fff;
  padding: 12px 32px;
  font-size: 18px;
  transition: transform 0.2s;
  border: 1px solid transparent;
}
.main-btn:hover{
  transform: scale(1.05);
  color: #fff;
  background-color: var(--secondary-color);
}
.main-btn.btn:first-child:active,
:not(.btn-check) + .btn:active,
.main-btn:active,
.main-btn:focus-visible{
  color: #fff;
  border: 1px solid transparent;
  background-color: var(--secondary-color);
}


/* main tag style */
main{
  margin-top: 66px;
}